body
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(217,217,217,.2);
    align-items: center;
    margin:105px auto 0;
    font-family: 'PT Sans', sans-serif;
}

.wrapper
{
    width: 1400px;
    margin: auto;
}

.flex_row
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.flex_column
{
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}

.frame_5_gray
{
    border-radius: 5px;
    border: 1px solid rgba(229, 229, 229, .5);
}

.frame_10_gray
{
    border-radius: 10px;
    border: 1px solid #F3F2F2;
}

.flex_text-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder-gray
{
    color: rgba(95, 95, 95, .75);
}

.btn_green
{
    width: 315px;
    height: 60px;
    background-color: #1ACA0B;
    border: 0;
    border-radius: 10px;
    color:white;
    font-size: 16px;
    font-weight: bold;
}

.btn_green:hover
{
    background-color: #19970E; 
    cursor: pointer;  
}

.gray--hover:hover
{
    background-color: rgba(184, 183, 183, .5);
}

.link_blue
{
    color: #0563BB;
}

.link_blue:hover
{
    color:  #1ACA0B;
    cursor: pointer;
}

.text_16_bold
{
    font-size: 16px;
    font-weight: bold;
}

.figure-circle-section
{
    width: 26px; 
    height: 26px;
    background: #D9D9D9;
    border-radius: 50%;
}

.link-decoration--none, .link-decoration--none:active, link-decoration--none:hover
{
    text-decoration: none;
    color: black;
}

a.card__link-decoration, a.card__link-decoration:active
{
    text-decoration: none;
    color: black;
}

a.card__link-decoration:hover
{
    color: green;
}

.checkbox--17
{
    width: 17px;
    height: 17px;
}

.product__delivery
{
    gap: 10px;
}

.product__delivery > div
{
    background-color: rgba(217, 217, 217, .2);
    border-radius: 8px;
    font-size: 15px;
    gap: 0px;
    width: 160px;
    height: 40px;
    justify-content: space-between; 
}

.delivery-img, .store-img
{
    padding-right: 18px;
}

.left-delivery-info
{
    margin-left: 10px;
    gap: 0px;
    justify-content: space-around;
}

.card__tag
{
    background-color: rgba(26, 202, 11, .15);
    font-size: 11px;
    width: 66px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C8D0A;
    border-radius: 8px;
}

/* Product rating */
.card__rate
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}

.cond > input
{
    width: 17px;
    height: 17px;
}

.cond, .rate-count
{
    font-size: 13px;
}

.rating
{
    margin-left: 18px;
}

.rate-count
{
    margin-left: 5px;
}

/* Product price */
.credit
{
    font-size: 11px;
}

.sum
{
    width: 240px;
    height: 40px;
    justify-content: space-between;
    background-color: rgba(217, 217, 217, .2);
    border-radius: 8px;
}

.full-price
{
    font-size: 18px;
    font-weight: bold;
}

.favourite, .buy, .delete
{
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 8px;
    background-color: rgba(217, 217, 217, .2);
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cond, .rating
{
    border-radius: 8px;
    background-color: rgba(217, 217, 217, .2);
}

.shop-count, .delivery-date
{
    color: #0563BB;
}