body
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(217,217,217,.2);
    align-items: center;
    /* width: 1400px; */
    margin:105px auto 0;
    font-family: 'PT Sans', sans-serif;
}

.wrapper
{
    width: 1400px;
    margin: auto;
}

.flex_row
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.flex_column
{
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}


.card__tag
{
    background-color: rgba(26, 202, 11, .15);
    font-size: 11px;
    width: 66px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C8D0A;
    border-radius: 8px;
}


/* Product rating */
.card__rate
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}

.cond > input
{
    width: 17px;
    height: 17px;
}

.cond, .rate-count
{
    font-size: 13px;
}

.stars
{
    margin-left: 18px;
}

.rate-count
{
    margin-left: 5px;
}

/* Product price */
.credit
{
    font-size: 11px;
}

.sum
{
    width: 240px;
    height: 40px;
    justify-content: space-between;
    background-color: rgba(217, 217, 217, .2);
    border-radius: 8px;
}

.full-price
{
    font-size: 18px;
    font-weight: bold;
}

.favourite, .buy
{
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 8px;
    background-color: rgba(217, 217, 217, .2);
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shop-count, .delivery-date
{
    color: #0563BB;
}

