main
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.left-filter
{
    width: 274px;
    border-radius: 12px;
    background-color: white;
    border:1px solid rgba(65,163,31,.75);
    display: flex;
    flex-direction: column;
}

.cards-block
{
    width: 1122px;
}

.price-input
{
    margin-left: 5px;
}

.filter__block
{
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom:1px solid rgba(26,202,11,.85);
}

.filter__block-price
{
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.filter__block > input
{
    width: 17px;
    height: 17px;
}

.filter-name
{
    font-size: 16px;
    margin-left: 14px;
}

.filter-price
{
    height: 138px;
}

.filter__block:last-child
{
    border-bottom: 0px;
}

.cards-block
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.card
{
    width: 350px;
    height: 514px;
    background-color: white; 
    border-radius: 12px;
    border:1px solid rgba(26,202,11,.5);
    display: flex;
    flex-direction: column;
}

.card > div
{
    margin-left: 6px;
    margin-top: 16px;
}

.card__name
{
    font-size: 17px;
}

.card__img  img
{
 
    width: 200px;
    height: 140px;
}

.card__img
{
    height: 200px;
    justify-content: center;
}

.btn-apply, .btn-clear
{
    width: 240px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    border: 0;
}

.filter-buttons
{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 16px;
    gap: 20px;
    padding-bottom: 10px;
}

.btn-apply
{
    background-color: #1ACA0B;
    color: white;
    border:0px;
}

.btn-clear
{
    background-color: white;
    border:1.5px solid rgb(26, 26, 26);
}

.gifts
{
    margin-top: 20px;
    width: 274px;
    height: 114px;
    background-color: white;
    border:1px solid rgba(65,163,31,.75);
    border-radius: 12px;
}

.gift-name
{
    font-size: 18px;
    font-weight: bolder;
    margin-left: 15px;
    margin-top: 10px;
}

.btn-choice
{
    border-radius: 8px;
    width: 135px;
    height: 35px;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 14px;
    border:1px solid black;
    /* color: rgba(95, 95, 95, .75); */
    text-align: center;
    vertical-align: middle;
}

.btn-choice:hover
{
    color:white;
    background-color: rgba(184, 183, 183, .5);
}

.show-more, .pages
{
    border:1px solid rgba(26,202,11,.5);
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    height: 40px;
    background-color: white;
}

.buttons-cards
{
    justify-content: space-between;
    width: 100%;
}

.pages
{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.page
{
    width: 40px;
    height: 100%;
}

.page:hover
{
    background-color: rgba(113, 253, 111, .25);
    cursor: pointer;
}

.filter-price
{
    align-items: flex-start;
}